/* Reset básico para remover margens e espaçamentos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Paleta de cores */
:root {
    --cor-azul: #2563eb;
    --cor-01: #4f9a7b;
    --cor-02: #1e293b;
    --cor-03: #9ac2aa;
    --cor-04: #f1f1e7;
    --cor-branco: #ffffff;
    --cor--preto: #000000;
    --transicao: all 0.3s ease;
}

/* Estilização do título principal */
header h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10%;
    letter-spacing: 1px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    color: var(--cor-branco);
    
}

h2 {
    color: var(--cor-02);
    margin-bottom: 20px;
    font-size: 2rem;
    margin: 20px;
}

/* Tagline - subtítulo atrativo */
.descricao {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 30px;
    animation: slideInUp 0.8s ease-out 0.2s both;
    color: var(--cor-04);
}

.subtitulo {
    font-size: 2.5rem;
    color: var(--cor-02);
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
}


/* Animações */
@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilização dos parágrafos */
p {
    font-size: 1.1rem;
    color: var(--cor--preto);
    margin-bottom: 15px;
    line-height: 1.8;
    margin: 30px;
}

/* Estilização do cabeçalho da página */
header {
    background: linear-gradient(135deg, var(--cor-01) 0%, var(--cor-02) 100%);
    color: var(--cor-02);
    padding: 80px 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideInDown 0.8s ease-out;
}

body {
    background: linear-gradient(#4f9a7b, #6ca88c, #9ac2aa, #c5d9c8, #f1f1e7);
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

a {
    color: var(--cor-azul);
}



/* Container principal */
main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 30px;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px;
    margin-top: 60px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 5px 0;
    font-size: 0.95rem;
    color: var(--cor-02);
}

/* Responsividade */
@media (max-width: 768px) {



    header {
        padding: 50px 20px;
    }

    header h1 {
        font-size: 2.5rem;
    }

    .descricao {
        font-size: 1rem;
    }

    main {
        padding: 0 15px;
    }

    .container-botoes {
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }

}